footer {
  padding-bottom: 10px;
  text-align: center;
}

footer .social-icons a {
  width: 30px;
  height: 30px;
}

footer small {
  display: block;
  color: var(--charcoal);
  font-size: 14px;
}
footer small a {
  /* color: var(--violet); */
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  footer small {
    font-size: 12px;
  }
}

footer hr {
  height: 2px;
  background-color: var(--charcoal);
  color: var(--charcoal);
  margin: 20px 0;
}
