@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url(./header.css);
@import url(./sidebar.css);
@import url(./landing-page.css);
@import url(./toc.css);
@import url(./prev-next-btn.css);
@import url(./main-body-wrapper.css);
@import url(./footer.css);
@import url(./404.css);

:root {
  --white: #fff;
  --background: #fff;
  --blue: #5b91e9;
  --faint-blue: #e6effc;
  --charcoal: #49484f;
  --violet: #6050e4;
  --faint-violet: #e7e5fb;
  --gray: #ababab;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-display: swap;
}

html,
body {
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  letter-spacing: 0.01em;
}

body {
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  letter-spacing: 0.01em;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}
h2 {
  font-size: 36px;
  font-weight: bold;
}
h3 {
  font-size: 32px;
  font-weight: 600;
}
h4 {
  font-size: 24px;
  font-weight: 600;
}
h5,
h6 {
  font-size: 18px;
  font-weight: bold;
}

/* for tablet */
@media (max-width: 991px) {
  h1 {
    font-size: 36px;
    font-weight: bold;
  }
  h2 {
    font-size: 28px;
    font-weight: bold;
  }
  h3 {
    font-size: 24px;
    font-weight: 600;
  }
  h4 {
    font-size: 18px;
    font-weight: 600;
  }
  h5,
  h6 {
    font-size: 16px;
    font-weight: bold;
  }
}
/* for mobile */
@media (max-width: 575px) {
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
  h2 {
    font-size: 20px;
    font-weight: 600;
  }
  h3 {
    font-size: 18px;
    font-weight: 600;
  }
  h4 {
    font-size: 16px;
    font-weight: 600;
  }
  h5,
  h6 {
    font-size: 14px;
    font-weight: 600;
  }
  html,
  body {
    font-size: 14px;
  }
}

a {
  transition: color 0.15s;
}

::placeholder {
  color: var(--gray);
}

pre {
  border: 0 !important;
  background-color: rgb(245, 247, 249);
}

blockquote {
  color: rgb(116, 129, 141);
  margin: 0px 0px 24px;
  padding: 0px 0px 0px 12px;
  border-left: 4px solid rgb(230, 236, 241);
  border-color: rgb(230, 236, 241);
}

body li {
  list-style-type: none;
}
.visibleMobile {
  display: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.displayInline {
  display: inline-block;
}

.sideBarUL {
  padding-top: 30px;
  padding-left: 0;
  margin-bottom: 0;
}
.sideBarUL ul {
  padding-left: 0;
}

.sideBarUL li {
  list-style-type: none;
  width: auto;
}

.sideBarUL li a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  padding: 7px 24px 7px 16px;
  padding-left: 10px;
  padding-right: 25px;
  border-style: solid none solid solid;
  border-width: 1px 0px 1px 1px;
  border-color: transparent currentcolor transparent transparent;
}

.hideFrontLine .collapser {
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  right: 20px;
  z-index: 1;
  cursor: pointer;
}

.hideFrontLine .active > a {
  background-color: var(--faint-blue);
  color: var(--blue) !important;
  border-left: 2px solid;
}
.hideFrontLine .active > a .circular-container {
  background-color: var(--white);
}

/* .firstLevel ul li .collapser svg path { */
.hideFrontLine a svg path {
  fill: var(--charcoal);
}
.hideFrontLine .active > a svg path {
  fill: var(--blue);
}
/* .firstLevel ul li.active > a > .collapser > svg > path {
  fill: #001933 !important;
} */

.firstLevel ul .item ul .item {
  border-left: 1px solid var(--blue);
}

.sideBarUL .item {
  list-style: none;
  padding: 0;
}

.sideBarUL .item > a {
  color: var(--charcoal);
  text-decoration: none;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding-right: 35px;
  padding-left: 15px;
}

.sideBarUL .item .item {
  margin-left: 16px;
}

.firstLevel > ul > .item {
  margin-left: 0 !important;
}

.addPaddTopBottom {
  padding: 50px 0;
}

.preRightWrapper {
  display: block;
  margin: 0px;
  flex: 1 1 0%;
  padding: 16px;
  text-align: right;
}

.smallContent {
  display: block;
  margin: 0px;
  padding: 0px;
  color: var(--gray);
}

.smallContent span {
  font-size: 14px;
  line-height: 1.625;
  font-weight: 400;
}

/* **************************** */

.nextRightWrapper {
  display: block;
  margin: 0px;
  padding: 16px;
  flex: 1 1 0%;
}

/* tables.css */
table {
  padding: 0;
  margin: 10px 0;
}

table tr {
  border-top: 1px solid var(--gray);
  margin: 0;
  padding: 0;
}

table th {
  background-color: #e1e0e0;
}

table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr th :first-child,
table tr td :first-child {
  margin-top: 0;
}

table tr th :last-child,
table tr td :last-child {
  margin-bottom: 0;
}
/* end - tables.css */

/* Image styling */
img {
  max-width: 100%;
  margin: 10px 0;
}
/* end image */

.heading1,
.heading2,
.heading3,
.heading4,
.heading5,
.heading6 {
  line-height: 1.5;
  /* margin-bottom: 10px;
  margin-top: 15px; */
  margin: 10px 0;
}

.paragraph {
  padding: 0px 0px 10px;
  margin-bottom: 0;
  line-height: 1.5;
}

.pre {
  font-size: 14px;
  margin: 0px;
  padding: 16px;
  overflow: auto;
}

/* main container to store mdx to html content */
main {
  background: var(--background);
}
main table tr {
  background: var(--background);
}

.scroll-margin-top {
  scroll-margin-top: 85px;
}

.breadcrumb a {
  color: var(--blue);
}
