.landing-container {
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url('/landing-page/banner.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-bottom: 20px; */
  /* padding-top: 50px; */
}

.search-bar {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 100px;
  /* background-color: rgba(255, 255, 255, 0.8); */
  color: black;
  font-size: 16px;
  outline: none;
  padding-right: 40px;
  padding-left: 30px;
}

.searchicon {
  position: absolute;
  top: 50%;
  right: 15px;
  border: none;
  background-color: white;
  transform: translateY(-50%);
}

.search-bar:focus {
  box-shadow: 1px 1px 1px rgb(226, 253, 255); /* Adjust shadow color and intensity as needed */
}
.form-group {
  position: relative;
  max-width: 500px;
  margin: 10px auto;
}

/* ==============================================Card Design========================================= */

.card {
  position: relative;
  font-size: 1rem;
  margin: 0;
  border-radius: 12px;
  padding: 0px;
  cursor: pointer;
  border-color: #e4e5e6;
  transition: background-color 0.3s ease;
  background-color: white;
}

.card:hover {
  position: relative;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.095);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: rgb(255, 250, 241, 1);
  transition: background-color 0.2s ease;
}

.imgWrapper {
  background-color: rgb(255, 250, 241, 1);
  text-align: center;
  padding: 15px;
  border-radius: 50%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.imgicon {
  width: 35px;
  height: 35px;
}

.card:hover .imgWrapper {
  background-color: white;
}
