.next-prev-section {
  margin: 0px;
  padding: 0px;
  width: auto;
  display: grid;
  grid-template-rows: auto;
  column-gap: 24px;
  grid-template-columns: calc(50% - 8px) calc(50% - 8px);
}
.next-prev-section .previousBtn {
  cursor: pointer;
  -moz-box-align: center;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  margin: 0px;
  padding: 0px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  place-self: stretch;
  border-radius: 8px;
  border: 1px solid rgb(230, 236, 241);
  transition: border 200ms ease 0s;
  box-shadow: 0px 12px 26px 0px #406ea414;
  background: linear-gradient(to right, #e6effc, #ffffff);
  text-decoration: none;
  color: var(--charcoal);
}

.next-prev-section .nextBtn {
  cursor: pointer;
  -moz-box-align: center;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  margin: 0px;
  padding: 0px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  place-self: stretch;
  border-radius: 8px;
  border: 1px solid rgb(230, 236, 241);
  transition: border 200ms ease 0s;
  box-shadow: 0px 12px 26px 0px #406ea414;
  background: linear-gradient(to right, #ffffff, #e6effc);
  text-decoration: none;
  color: var(--charcoal);
}

.next-prev-section .nextBtn:hover,
.next-prev-section .previousBtn:hover {
  text-decoration: none;
  border: 1px solid #b5f7e7;
}

.next-prev-section .nextBtn:hover .rightArrow,
.next-prev-section .previousBtn:hover .leftArrow {
  color: var(--charcoal);
}

.next-prev-section .leftArrow {
  display: flex;
  margin: 0px;
  color: rgb(157, 170, 182);
  flex: 0 0 auto;
  font-size: 24px;
  transition: color 200ms ease 0s;
  padding: 16px;
  padding-right: 16px;
}

.next-prev-section .rightArrow {
  display: flex;
  flex: 0 0 auto;
  font-size: 24px;
  transition: color 200ms ease 0s;
  padding: 16px;
  padding-left: 16px;
  margin: 0px;
  color: rgb(157, 170, 182);
}

.next-prev-section .nextPreviousTitle {
  display: block;
  margin: 0px;
  padding: 0px;
  transition: color 200ms ease 0s;
}

.next-prev-section .nextPreviousTitle span {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

@media (max-width: 767px) {
  .next-prev-section {
    display: block;
    padding: 0 15px;
  }

  .next-prev-section .previousBtn {
    margin-bottom: 20px;
  }
}
