.sidebar-container {
  position: relative;
  width: 300px;
  padding-left: 0;
  z-index: 100;
  transition: all 0.3s ease;
}
@media (max-width: 1200px) {
  .sidebar-container {
    position: fixed;
    left: -320px;
    top: 80px;
    /* transform: translateX(-100%); */
  }
}
.left-sidebar {
  width: 100%;
  height: calc(100vh - 80px);
  overflow: auto;
  position: sticky;
  background-color: #faf9f9;
  padding-top: 0px;
  top: 80px;
}

/* width */
.left-sidebar::-webkit-scrollbar,
.modal-body::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.left-sidebar::-webkit-scrollbar-track,
.modal-body::-webkit-scrollbar-track {
  background: var(--faint-violet);
}

/* Handle */
.left-sidebar::-webkit-scrollbar-thumb,
.modal-body::-webkit-scrollbar-thumb {
  background: #cdc9f7;
}

/* Handle on hover */
.left-sidebar::-webkit-scrollbar-thumb:hover,
.modal-body::-webkit-scrollbar-thumb:hover {
  background: var(--violet);
}

.left-sidebar::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100vw;
  content: '';
  background-color: #faf9f9;
}

@media only screen and (max-width: 1023px) {
  .left-sidebar {
    width: 100%;
    height: calc(100vh - 80px);
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .left-sidebar {
    padding-left: 0;
  }
}

.circular-container {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: var(--faint-blue);
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
